.Section {
  display: flex;
  width: 50%;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgba(144, 238, 144, 0.8);
  border: 1px solid green;
  margin: 2vh;
  border-radius: 10px;
  padding: 20px;
}

.Icon:hover {
  cursor: pointer;
}
